
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>SignIn / SignUp</title>

    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="bg-dark">

    <!-- loginForm -->
    <div class="loginBox">
        <div class="row mb-3">
            <div class="col">
                <button id="signin-button">Login</button>
            </div>
            <div class="col">
                <button id="signup-button">Registration</button>
            </div>
        </div>

        <div>
            <form id="signup-form" method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="form-group mt-4">
                    <label class="text-dark">first name</label>
                    <input name="firstname" class="form-control" type="text" placeholder="enter firstname">
                </div>

                <div class="form-group mt-4">
                    <label class="text-dark">last name</label>
                    <input name="lastname" class="form-control" type="text" placeholder="enter lastname">
                </div>

                 <div class="form-group mt-4">
                    <label class="text-dark">e-mail</label>
                    <input name="email" class="form-control" type="email" placeholder="enter email">
                </div>

                <div class="form-group mt-4">
                    <label class="text-dark">username</label>
                    <input name="username" class="form-control" type="text" placeholder="enter username">
                </div>

                <div class="form-group">
                    <label for="">password</label>
                    <input name="password" class="form-control" type="password" placeholder="password">
                </div>

                <div class="form-group pb-3">
                    <label for="">confirm password</label>
                    <input name="repassword" class="form-control" type="password" placeholder="Confirm password">
                </div>

                <button class="btn btn-dark" type="submit">upload</button>
            </form>

            <form id="signin-form" method="POST" action="{% url 'signin' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="">username</label>
                    <input name="username" class="form-control" type="text" placeholder="username">
                </div>

                <div class="form-group pb-3">
                    <label for="">password</label>
                    <input name="password" class="form-control" type="password" placeholder="password">
                </div>

                <button class="btn btn-dark" type="submit">upload</button>
            </form>
        </div>
    </div>


    <!-- Javascript -->
    <script>
        init();

        function init() {
            $("#signin-button").css("border-bottom", "3px solid black");
            $("#signin-form").css("display", "block");
            }

            $("#signin-button").on("click", function() {
            $(this).css("border-bottom", "3px solid black");
            $("#signup-button").css("border-bottom", "3px solid white");

            $("#signup-form").css("display", "none")
                $("#signin-form").slideDown(400, function() {
                $(this).css("display", "block");
            });
            });

            $("#signup-button").on("click", function() {
            $(this).css("border-bottom", "3px solid black");
            $("#signin-button").css("border-bottom", "3px solid white");

            $("#signin-form").css("display", "none");
            $("#signup-form").slideDown(400, function() {
                $(this).css("display", "block");
            });
        });
    </script>
</body>
</html>
    